---
import SectionContainer from "../layout/SectionContainer.astro";
import { Image } from "@astrojs/image/components";
import sizeOf from "image-size";

interface Props {
  invert?: boolean;
  name: string;
  imgUrl: string;
  subServices: string[];
}

const { invert = false, imgUrl, name, subServices } = Astro.props;
const dimensions = sizeOf(`public/${imgUrl}`);
---

<SectionContainer className="py-5">
  <div
    class={`flex flex-col ${
      invert ? "md:flex-row-reverse" : "md:flex-row"
    } items-center`}
  >
    <div class={`flex flex-1 ${invert && "justify-end"}`}>
      <div class={+invert ? "md:ml-20" : "md:mr-20"}>
        <Image
          data-sal="slide-up"
          data-sal-duration="500"
          src={imgUrl}
          alt={`${name} illustration`}
          width={dimensions.width}
          height={dimensions.height}
          format={"webp"}
          class="w-4/5 mx-auto mb-10 md:w-full md:h-full"
        />
      </div>
    </div>
    <div class="flex-1">
      <h1 class="font-display text-4xl mb-4" data-sal="slide-up">{name}</h1>
      <div class="text-lg text-gray-600" data-sal="slide-up">
        <slot />
        <br />
        <div
          class="flex flex-col items-start space-y-2 mt-10"
          data-sal="slide-up"
        >
          {
            subServices.map((service) => (
              <strong class="text-black">— {service}</strong>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</SectionContainer>
