---
import SectionContainer from "../layout/SectionContainer.astro";
import Navlink from "./nav/Navlink.astro";
const copyrightYear = new Date().getFullYear();

interface Props {
  backgroundColor?: string;
  textColor?: string;
}

const { backgroundColor = "#000", textColor = "#fff" } = Astro.props;
---

<SectionContainer
  className={"py-10 lg:py-20"}
  backgroundColor={backgroundColor}
>
  <footer>
    <div
      class="flex flex-col md:flex-row justify-between md:items-center space-y-2 md:space-y-0"
    >
      <div class="">
        <div class="text-sm" style={`color: ${textColor}; opacity: 0.85`}>
          &copy; {copyrightYear} Institut 4000. All rights reserved.
        </div>
      </div>
      <div class="flex space-x-2 md:space-x-5">
        <Navlink href="/legal#imprint" textColor={textColor}>Imprint</Navlink>

        <Navlink href="/legal#privacy" textColor={textColor}
          >Privacy Policy</Navlink
        >
      </div>
    </div>
  </footer>
</SectionContainer>
