---
import CaseStudy from "../components/CaseStudy.astro";
import SectionContainer from "../layout/SectionContainer.astro";
import type { CaseStudy as CaseStudyType } from "../types";

const studies = await Astro.glob<CaseStudyType>("../pages/case-studies/*.md");
const sortedStudies = studies.sort((a, b) => {
  if (a.frontmatter.position < b.frontmatter.position) return -1;
  else return 1;
});
const even = sortedStudies.filter((_, index) => index % 2 === 1);
const odd = sortedStudies.filter((_, index) => index % 2 === 0);
---

<SectionContainer className={"py-20 md:py-32 lg:py-56"} id="case-studies">
  <div class="space-y-3" data-sal="slide-up" data-sal-duration="1000">
    <h1 class="font-display text-4xl md:text-5xl">Case Studies</h1>
    <p class="text-black/70">
      Here are a few of the projects I've been working on
    </p>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 mt-20 gap-x-16 gap-y-20 md:gap-y-10"
  >
    <div class="grid grid-cols-1 gap-y-20">
      {
        odd.map((study) => (
          <CaseStudy
            client={study.frontmatter.client}
            imgUrl={study.frontmatter.thumbnailUrl}
            href={study.frontmatter.draft ? undefined : study.url}
            incompleteText={study.frontmatter.draftText}
          >
            {study.frontmatter.description.long}
          </CaseStudy>
        ))
      }
    </div>
    <div class="grid grid-cols-1 gap-y-20">
      {
        even.map((study) => (
          <CaseStudy
            client={study.frontmatter.client}
            imgUrl={study.frontmatter.thumbnailUrl}
            href={study.frontmatter.draft ? undefined : study.url}
            incompleteText={study.frontmatter.draftText}
          >
            {study.frontmatter.description.long}
          </CaseStudy>
        ))
      }
    </div>
  </div>
</SectionContainer>
