---
import type { MarkdownLayoutProps } from "astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/nav/Navbar.astro";
import CaseStudyHeader from "../sections/CaseStudyHeader.astro";
import type { CaseStudy } from "../types";
import SectionContainer from "./SectionContainer.astro";
import CTA from "../sections/CTA.astro";

import "sal.js/dist/sal.css";
import "github-markdown-css/github-markdown-light.css";

type Props = MarkdownLayoutProps<CaseStudy>;

const nav = [
  {
    title: "Home",
    href: "/",
  },
  {
    title: "Services",
    href: "/services",
  },
  {
    title: "Case Studies",
    href: "/case-studies",
  },
  {
    title: "Contact",
    href: "#contact",
  },
];

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-Type" content="text/html; utf-8" />
    <meta http-equiv="Pragma" content="cache" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta http-equiv="content-Language" content="en" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Niels Clormann" />
    <meta name="publisher" content="Institut 4000" />
    <meta name="copyright" content="Niels Clormann © 2022" />
    <meta name="audience" content="all" />
    <meta name="page-type" content="private homepage" />
    <meta name="page-topic" content="service" />
    <meta http-equiv="Reply-to" content="flixoflax@gmx.de" />
    <meta name="expires" content="" />
    <meta name="revisit-after" content="2 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#171717" />
    <meta name="msapplication-TileColor" content="#171717" />
    <meta name="theme-color" content="#ffffff" />

    <title>{frontmatter.client} | Institut 4000</title>

    <script
      defer
      data-domain="institut4000.gmbh"
      src="https://plausible.institut4000.gmbh/js/plausible.js"
    ></script>
  </head>
  <body>
    <Navbar
      items={nav}
      backgroundColor={frontmatter.backgroundColor}
      textColor={frontmatter.textColor}
    />
    <CaseStudyHeader {...frontmatter} />

    <SectionContainer
      className={"py-20 md:py-32 lg:py-56 text-black/70 lg:text-lg"}
    >
      <div class="markdown-body">
        <slot />
      </div>
    </SectionContainer>

    <CTA
      backgroundColor={frontmatter.backgroundColor}
      textColor={frontmatter.textColor}
    />

    <style>
      html {
        scroll-behavior: smooth;
      }

      /* Satoshi */
      @font-face {
        font-family: "Satoshi";
        src: url("/fonts/satoshi/Satoshi.woff2") format("woff2"),
          url("/fonts/satoshi/Satoshi.woff") format("woff"),
          url("/fonts/satoshi/Satoshi.ttf") format("truetype");
        font-weight: 700;
        font-display: swap;
        font-style: normal;
      }

      /* General Sans */
      @font-face {
        font-family: "General Sans";
        src: url("/fonts/general-sans/GeneralSans.woff2") format("woff2"),
          url("/fonts/general-sans/GeneralSans.woff") format("woff"),
          url("/fonts/general-sans/GeneralSans.ttf") format("truetype");
        font-weight: 600;
        font-display: swap;
        font-style: normal;
      }
    </style>

    <style is:global>
      .markdown-body {
        @apply font-sans text-black/70;
      }

      .markdown-body h1 {
        @apply font-display block text-black text-3xl lg:text-5xl border-none;
      }

      .markdown-body h2 {
        @apply font-display block text-black text-xl lg:text-2xl border-none;
      }

      .markdown-body h3 {
        @apply font-display block text-black text-lg lg:text-xl border-none;
      }

      .markdown-body h1,
      .markdown-body h2,
      .markdown-body h3,
      .markdown-body h4,
      .markdown-body h5,
      .markdown-body h6 {
        margin-top: 2em;
        margin-bottom: 0.5em;
      }

      .markdown-body strong {
        @apply text-black font-display;
      }

      .markdown-body blockquote {
        @apply border-l-4 border-l-gray-300 text-black/60;
        padding: 0 1em;
      }

      .markdown-body blockquote strong {
        @apply text-black/70;
      }
    </style>

    <script>
      const sal = (await import("sal.js")).default;

      sal();
    </script>

    <Footer
      backgroundColor={frontmatter.backgroundColor}
      textColor={frontmatter.textColor}
    />
  </body>
</html>
